*{
  margin: 0;
  padding: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  }

body{  
  background: linear-gradient(72deg, rgb(44, 222, 242) 0.00%, rgb(156, 43, 171) 35.00%, rgb(39, 43, 44) 100.00%);
  height: 100vh;
}

form{
  
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: column;
  width: 40%;
  margin: 30px auto;
  background-color: black;
  color: white;
  box-shadow: 7px 5px 5px rgb(0, 0, 0, 0.7);
  border: 1px black;
  border-radius: 5px;
  }
input{
  margin: 12px;
  width: 300px;
}

.btn{
  width: 30%;
  margin: 15px;
}

button:hover{
  background-color: rgb(212, 58, 66); 
}

